BankCustomer-SpringBoot-SOAP-API-Endpoint/fbol-ucic-service-endpoint/fbol-ucic-service/src/main/resources/XPBusinessObjects/Documents_v1_12.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema elementFormDefault="qualified" targetNamespace="Documents" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd_1="Documents" xmlns:xsd_2="InvolvedParty" xmlns:xsd_3="ContactPoint">
  <xsd:import namespace="ContactPoint" schemaLocation="ContactPoint_v1_12.xsd"/>
  <xsd:import namespace="InvolvedParty" schemaLocation="InvolvedParty_v1_12.xsd"/>
  <xsd:annotation>
    <xsd:documentation>Statements, notices, checks, Tax Forms, etc.</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType name="InclusionType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="All Items"/>
      <xsd:enumeration value="Item Images"/>
      <xsd:enumeration value="No Items"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DeliveryMethod">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Electronic"/>
      <xsd:enumeration value="Paper"/>
      <xsd:enumeration value="Paper And Electronic"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EnterpriseDocumentType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Check"/>
      <xsd:enumeration value="Interest Check"/>
      <xsd:enumeration value="Notice"/>
      <xsd:enumeration value="Statement"/>
      <xsd:enumeration value="TaxForm"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="DocumentType">
    <xsd:choice>
      <xsd:element name="EntprsDocTyp" type="xsd_1:EnterpriseDocumentType">
        <xsd:annotation>
          <xsd:documentation>Business Name: Enterprise Document Type
Valid Values:  
Check  
Notice  
Statement  
Tax Form 
Business Description: Defines which type of document is provided in the link to the archive location. (e.g.  Statement, tax form, or notice)
Comments:</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ArcDocTyp" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Business Name: Archive Document Type
Valid Values: 
Business Description: Defines which type of archive location.
Comments:</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="DocumentDeliveryInfo">
    <xsd:sequence>
      <xsd:element name="IpNme" type="xsd_2:AbridgedName">
        <xsd:annotation>
          <xsd:documentation>Business Name: Ip Name
Valid Values:
Business Description: Name information for the document delivery instruction.
Comments:</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="PstlAddr" type="xsd_3:PostalAddress">
        <xsd:annotation>
          <xsd:documentation>Business Name: Postal Address
Valid Values:
Business Description: Postal address information for the document delivery instruction.
Comments:</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="EmailAddr" type="xsd_3:EmailAddress">
        <xsd:annotation>
          <xsd:documentation>Business Name: Email Address
Valid Values:
Business Description: Email address information for the document delivery instruction.
Comments:</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocTyp" type="xsd_1:DocumentType">
        <xsd:annotation>
          <xsd:documentation>Business Name: Document Type
Valid Values:
Business Description: The type of document the delivery instruction is for.
Comments:</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Statement">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ItmInclnTyp" type="xsd_1:InclusionType">
        <xsd:annotation>
          <xsd:documentation>Business Name: Item Inclusion Type
Valid Values: 
All Items
Item Images
No Items
Business Description: Identifies whether the item or items should be included in the document and if so what type of items should be included.
Comments:</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="CombStmtInd" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Business Name: Combined Statement Indicator
Valid Values: 
true
false
Business Description: Identifies whether the statement for the arrangement (account) is part of a combined statement.
Comments:</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Document">
    <xsd:complexContent>
      <xsd:extension base="xsd_1:CommonDocumentData">
        <xsd:choice>
          <xsd:element minOccurs="0" name="Stmt" type="xsd_1:Statement">
            <xsd:annotation>
              <xsd:documentation>Business Name: Statement
Valid Values: 
Business Description: Contains the information for the statement.
Comments:</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="DocumentDateType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Standard"/>
      <xsd:enumeration value="Analysis"/>
      <xsd:enumeration value="Cycle"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="DocumentDate">
    <xsd:sequence>
      <xsd:element name="Dte" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Business Name: Date
Valid Values: 
Business Description: The date associated with the document.
Comments:</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="DocDteTyp" type="xsd_1:DocumentDateType">
        <xsd:annotation>
          <xsd:documentation>Business Name: Document Date Type
Valid Values:
Standard
Cycle
Analysis
Business Description:  The type of date that is associated with the document.
Comments:</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CommonDocumentData">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="DocId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Business Name: Document Identifier
Valid Values: 
Business Description: Unique identifier of the document.
Comments:</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Typ" type="xsd_1:DocumentType">
        <xsd:annotation>
          <xsd:documentation>Business Name: Type
Valid Values:
Business Description: Contains the information related to the document type.
Comments:</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ImgLoctn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Business Name: Image Location
Valid Values: 
Business Description: The URL path to the image within the archive
Comments:</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="DocDlvryMthd" type="xsd_1:DeliveryMethod">
        <xsd:annotation>
          <xsd:documentation>Business Name: Document Delivery Method
Valid Values:  
Electronic  
Paper  
Paper And Electronic 
Business Description: Identifies how a document (e.g. statement) is delivered to the customer.
Comments:</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DocDte" type="xsd_1:DocumentDate">
        <xsd:annotation>
          <xsd:documentation>Business Name: Document Date 
Valid Values: 
Business Description: The date of a written or printed paper furnishing information.
Comments:</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Note">
    <xsd:sequence>
      <xsd:element name="NoteId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Business Name: Note Identifier
Valid Values: 
Business Description: 
Comments:</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NoteTxt" type="xsd:base64Binary">
        <xsd:annotation>
          <xsd:documentation>Business Name: Note Text
Valid Values: 
Business Description: 
Comments:</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CrtUsrId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Business Name: Current User ID
Valid Values: 
Business Description: 
Comments:</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CrtTs" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Business Name: Current Timestamp
Valid Values: 
Business Description: 
Comments:</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="RltDoc" type="xsd_1:CommonDocumentData">
        <xsd:annotation>
          <xsd:documentation>Business Name: Related Document
Valid Values: 
Business Description: 
Comments:</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>