BankCustomer-SpringBoot-SOAP-API-Endpoint/fbol-ucic-service-endpoint/fbol-ucic-service/src/main/resources/XPBusinessObjects/ResourceItem_v1_12.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema elementFormDefault="qualified" targetNamespace="ResourceItem" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd_1="ResourceItem">
  <xsd:annotation>
    <xsd:documentation>Items of value, documents, real estate etc.</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="TextMedia">
    <xsd:annotation>
      <xsd:documentation>&lt;p &gt;Business Name: Text Media&lt;/p&gt;&lt;p &gt;Valid Values:&lt;/p&gt;&lt;p &gt;Business Description: Contains attributes associated to a Text based media.&lt;/p&gt;&lt;p &gt;Comments:&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="StrtDte" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p &gt;Business Name: Start Date&lt;/p&gt;&lt;p &gt;Valid Values:&lt;/p&gt;&lt;p &gt;Business Description: Start date of the campaign to which this offer is associated.&lt;/p&gt;&lt;p &gt;Comments:&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="EndDte" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p &gt;Business Name: End Date&lt;/p&gt;&lt;p &gt;Valid Values:&lt;/p&gt;&lt;p &gt;Business Description: End date of the campaign to which this offer is associated.&lt;/p&gt;&lt;p &gt;Comments: For evergreen campaigns, this field will be blank.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Msg" type="xsd:base64Binary">
        <xsd:annotation>
          <xsd:documentation>&lt;p &gt;Business Name: Message&lt;/p&gt;&lt;p &gt;Valid Values:&lt;/p&gt;&lt;p &gt;Business Description: Details about the offer.&lt;/p&gt;&lt;p &gt;Comments:&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ImageMedia">
    <xsd:annotation>
      <xsd:documentation>&lt;p &gt;Business Name: Image Media&lt;/p&gt;&lt;p &gt;Valid Values:&lt;/p&gt;&lt;p &gt;Business Description: Contains attributes associated to an Image based media.&lt;/p&gt;&lt;p &gt;Comments:&lt;/p&gt;</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TrgtUrl" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Business Name: Target URL&lt;/p&gt;&lt;p&gt;Valid Values:&lt;/p&gt;&lt;p&gt;Business Description: Destination URL if this offer is selected.&lt;/p&gt;&lt;p&gt;Comments:&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ImgUrl" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p &gt;Business Name:Image URL&lt;/p&gt;&lt;p &gt;Valid Values:&lt;/p&gt;&lt;p &gt;Business Description: URL pointing to image media for this offer.&lt;/p&gt;&lt;p &gt;Comments:&lt;/p&gt;&lt;p &gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ImgWdth" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>&lt;p &gt;Business Name: Image Width&lt;/p&gt;&lt;p &gt;Valid Values:&lt;/p&gt;&lt;p &gt;Business Description: Width, in pixels, of the image for this offer.&lt;/p&gt;&lt;p &gt;Comments:&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ImgHeight" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>&lt;p &gt;Business Name: Image Height&lt;/p&gt;&lt;p &gt;Valid Values:&lt;/p&gt;&lt;p &gt;Business Description: Height, in pixels, of the image for this offer.&lt;/p&gt;&lt;p &gt;Comments:&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>