BankCustomer-SpringBoot-SOAP-API-Endpoint/fbol-ucic-service-endpoint/fbol-ucic-service/src/main/resources/XPBusinessObjects/Security_v1_12.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema elementFormDefault="qualified" targetNamespace="Security" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd_1="Security" xmlns:xsd_2="InvolvedParty" xmlns:xsd_3="OrganizationalUnit">
  <xsd:import namespace="OrganizationalUnit" schemaLocation="OrganizationalUnit_v1_12.xsd"/>
  <xsd:import namespace="InvolvedParty" schemaLocation="InvolvedParty_v1_12.xsd"/>
  <xsd:annotation>
    <xsd:documentation>Entitlements, credentials, security roles and permissions</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="UserDetails">
    <xsd:complexContent>
      <xsd:extension base="xsd_1:UserSecurityIdentity">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="UsrProperNme" type="xsd_2:AbridgedName">
            <xsd:annotation>
              <xsd:documentation>Business Name: User Proper Name
Valid Values:
Business Description:  Identifies the Full Name, First Name and Last Name of the User
Comments:</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="UserSecurityIdentity">
    <xsd:sequence>
      <xsd:element name="UsrNme" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Business Name: User Name
Valid Values: 
Business Description: The name an end user typically creates and uses to log into a system to uniquely identify themselves as having permission to access the system.  Other terms for UsrName are UserId, Login Name or Screen Name.
Comments:</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EmployeeAndUserComponentCredential">
    <xsd:sequence>
      <xsd:element name="CmptUsrId" type="xsd_1:UserSecurityIdentity">
        <xsd:annotation>
          <xsd:documentation>Business Name: Component User Id
Valid Values:
Business Description:  The identifier for the user of the component.
Comments:</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StrtDte" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Business Name: Start Date
Valid Values:
Business Description:  The start date for the user of the component.
Comments:</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="EndDte" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Business Name: End Date
Valid Values:
Business Description:  The optional end date for the user of the component.
Comments:</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OuCmpt" type="xsd_3:OrgUnitComponent">
        <xsd:annotation>
          <xsd:documentation>Business Name: Organizational Unit Component
Valid Values:
Business Description:  Information about the component associated with the credential.
Comments:</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="SecurityAccessType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Update"/>
      <xsd:enumeration value="View"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SecurityPermissionType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Service"/>
      <xsd:enumeration value="UI Activity"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="SecurityPermission">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Nme" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Business Name: Name
Valid Values:
Business Description: The name for the security permission.
Comments:</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="SecPermTyp" type="xsd_1:SecurityPermissionType">
        <xsd:annotation>
          <xsd:documentation>Business Name: Security Permission Type
Valid Values:
Service
UI Activity
Business Description: Defines the type of security permission.
Comments:</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="SecAccTyp" type="xsd_1:SecurityAccessType">
        <xsd:annotation>
          <xsd:documentation>Business Name: Security Access Type
Valid Values: 
Update
View
Business Description:  Type of access to be granted to a particular system component.
Comments:</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="DualAuthtnInd" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Business Name: Dual Authorization Indicator
Valid Values:
true
false
Business Description:  Indicates if dual authorization for a permission is available and/or required.
Comments:</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>